body {
  margin: 0;
  background: #fff;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
}

nav {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
}

nav box-icon {
  display: none;
}

nav div.logo img {
  height: 25px;
  width: 100px;
  display: block;
  margin-top: 15px;
  margin-left: 50px;
}

nav ul li {
  display: inline-block;
  margin-left: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li i {
  text-decoration: none;
  color: black;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  margin-right: 10px;
}

nav ul li a img {
  width: 30px;
  height: 30px;
}

.mainwrapper {
  height: 1080px;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

.mainwrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border: 0;
  margin: 0 auto;
  height: 1080px;
  border-image-repeat: stretch;
}

.mainwrapper .container #ice-1 {
  display: none;
}

.mainwrapper .container .nescafe-container {
  width: 1920px;
  margin-top: 60px;
  height: 1100px;
  position: fixed;
  background: url(/img/1.png);
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}

.mainwrapper .container .nescafe-container .selection {
  width: 100%;
  height: 100%;
  margin-top: 180px;
  margin-left: 680px;
  font-family: PT Sans;
  font-size: 19px;
  font-weight: 400;
  color: #1b5381;
}

.mainwrapper .container .nescafe-container .selection .isim ::-webkit-input-placeholder {
  color: #b2ddf5;
  font-size: 15px;
}

.mainwrapper .container .nescafe-container .selection .isim :-ms-input-placeholder {
  color: #b2ddf5;
  font-size: 15px;
}

.mainwrapper .container .nescafe-container .selection .isim ::-ms-input-placeholder {
  color: #b2ddf5;
  font-size: 15px;
}

.mainwrapper .container .nescafe-container .selection .isim ::placeholder {
  color: #b2ddf5;
  font-size: 15px;
}

.mainwrapper .container .nescafe-container .selection .isim #name-input {
  font-size: 15px;
  padding-left: 10px;
  margin-top: 10px;
  background: #315b81;
  width: 300px;
  height: 40px;
  border: 0;
  border-radius: 45px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  color: white;
}

.mainwrapper .container .nescafe-container .selection .sehir {
  margin-top: 15px;
}

.mainwrapper .container .nescafe-container .selection .sehir select {
  width: 300px;
  height: 40px;
  border-radius: 40px;
  background: #315b81;
  color: white;
  font-size: 15px;
  padding: 5px;
}

.mainwrapper .container .nescafe-container .selection .ilerle-btn img {
  height: 40px;
  margin-top: 10px;
  width: 300px;
  cursor: pointer;
}

.mainwrapper .container .nescafe-container-2 {
  display: none;
  position: fixed;
  background: url(/img/2.png);
  width: 1920px;
  margin-top: 60px;
  height: 1100px;
  position: fixed;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}

.mainwrapper .container .nescafe-container-2 .question-container .question {
  position: absolute;
  left: 616px;
  top: 150px;
}

.mainwrapper .container .nescafe-container-2 .question-container .question img {
  width: 550px;
  height: 80px;
}

.mainwrapper .container .nescafe-container-2 .question-container .answers {
  position: absolute;
  top: 60px;
  margin-top: 180px;
  margin-left: 680px;
}

.mainwrapper .container .nescafe-container-2 .question-container .answers .answer {
  font-family: PT Sans;
  font-size: 19px;
  font-weight: 400;
  background-color: #1b5381;
  border-radius: 30px;
  width: 430px;
  height: 60px;
  color: white;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  line-height: 50px;
}

.mainwrapper .container .nescafe-container-3 {
  display: none;
  position: fixed;
  background: url(/img/3.png);
  width: 1920px;
  margin-top: 60px;
  height: 1100px;
  position: fixed;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}

.mainwrapper .container .nescafe-container-3 .question-container .question {
  position: absolute;
  left: 616px;
  top: 150px;
}

.mainwrapper .container .nescafe-container-3 .question-container .question img {
  width: 550px;
  height: 80px;
}

.mainwrapper .container .nescafe-container-3 .question-container .answers {
  position: absolute;
  top: 60px;
  margin-top: 180px;
  margin-left: 680px;
}

.mainwrapper .container .nescafe-container-3 .question-container .answers .answer {
  font-family: PT Sans;
  font-size: 19px;
  font-weight: 400;
  background-color: #1b5381;
  border-radius: 30px;
  width: 400px;
  height: 60px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  line-height: 50px;
}

.mainwrapper .container .nescafe-container-4 {
  display: none;
  position: fixed;
  background: url(/img/2.png);
  width: 1920px;
  margin-top: 60px;
  height: 1100px;
  position: fixed;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}

.mainwrapper .container .nescafe-container-4 .question-container .question {
  position: absolute;
  left: 616px;
  top: 150px;
}

.mainwrapper .container .nescafe-container-4 .question-container .question img {
  width: 550px;
  height: 80px;
}

.mainwrapper .container .nescafe-container-4 .question-container .answers {
  position: absolute;
  top: 60px;
  margin-top: 180px;
  margin-left: 680px;
}

.mainwrapper .container .nescafe-container-4 .question-container .answers .answer {
  font-family: PT Sans;
  font-size: 19px;
  font-weight: 400;
  background-color: #1b5381;
  border-radius: 30px;
  width: 400px;
  height: 60px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  line-height: 50px;
}

.mainwrapper .container .nescafe-container-5 {
  display: none;
  position: fixed;
  background: url(/img/fethiye.png);
  width: 1920px;
  margin-top: 60px;
  height: 1100px;
  position: fixed;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}

.mainwrapper .container .nescafe-container-5 #map {
  width: 258px;
  height: 141px;
  margin-top: -260px;
  margin-left: 946px;
  border: 4px solid #fff;
  border-radius: 18px;
}

.mainwrapper .container .nescafe-container-5 .name-text {
  width: 100%;
  height: 133px;
  margin-left: 35%;
  line-height: 60px;
  font-weight: bold;
  font-size: 32px;
}

.mainwrapper .container .nescafe-container-5 .name-text #text-1 {
  color: #315b81;
  font-size: 26px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.mainwrapper .container .nescafe-container-5 .name-text #text-2 {
  color: red;
  font-weight: bold;
}

.mainwrapper .container .nescafe-container-5 .name-text #text-3 {
  color: #315b81;
  font-size: 26px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.mainwrapper .container .nescafe-container-5 .rota-text {
  width: 100%;
  height: 133px;
}

.mainwrapper .container .nescafe-container-5 .rota-text #text-4 {
  font-family: "PT Sans", sans-serif;
  text-align: left;
  width: 265px;
  color: #315b81;
  font-weight: bold;
  margin-top: 70px;
  margin-left: 35%;
  font-size: 14px;
}

.mainwrapper .container .nescafe-container-5 .rota-text #text-5 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 11.5px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #315b81;
  margin-top: 7px;
  margin-left: 35%;
}

.mainwrapper .container .nescafe-container-5 .video {
  position: absolute;
  top: 366px;
  left: 940px;
}

.mainwrapper .container .nescafe-container-5 #rota {
  position: absolute;
  right: 750px;
  cursor: pointer;
}

.mainwrapper .container .nescafe-container-5 #rota img {
  height: 32px;
  width: 150px;
}

@media screen and (max-width: 800px) {
  nav {
    height: 5px;
    margin-left: 0px;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .logo {
    margin-top: 50px;
    margin-left: 100px;
  }
  nav ul {
    display: none;
  }
  nav ul.vitrin {
    display: none;
  }
  nav ul.search-box {
    display: none;
  }
  nav box-icon {
    display: block !important;
    position: absolute;
    top: 12px;
  }
}

@media screen and (max-width: 480px) {
  .mainwrapper {
    height: 100%;
  }
  .mainwrapper .container {
    width: 100%;
    height: 100%;
  }
  .mainwrapper .container .nescafe-container {
    background: url(/img/Frame.png);
    background-color: #b2ddf5;
    position: -webkit-sticky;
    position: sticky;
    background-repeat: no-repeat;
    background-size: 480 820px;
    background-position: center;
    width: 385px;
    height: 100%;
    margin-top: 100px;
  }
  .mainwrapper .container .nescafe-container .selection {
    background-color: #b2ddf5;
    height: 80%;
    padding-top: 50px;
    margin-top: 200;
    margin-left: 1px;
  }
  .mainwrapper .container .nescafe-container-2 {
    background: url(/img/soru-1-responsive-1.png);
    background-color: #b2ddf5;
    position: -webkit-sticky;
    position: sticky;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 375px;
    height: 100%;
  }
  .mainwrapper .container .nescafe-container-2 .question-container .question {
    display: none;
  }
  .mainwrapper .container .nescafe-container-2 .question-container .answers {
    margin-left: 5px;
    margin-top: 45%;
  }
  .mainwrapper .container .nescafe-container-2 .question-container .answers .answer {
    margin-left: 15px;
    line-height: 20px;
    font-size: 15px;
    width: 300px;
    height: 45px;
  }
  .mainwrapper .container .nescafe-container-3 {
    background: url(/img/soru-1-responsive-2.png);
    background-color: #b2ddf5;
    position: -webkit-sticky;
    position: sticky;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 375px;
    height: 100%;
  }
  .mainwrapper .container .nescafe-container-3 .question-container .question {
    display: none;
  }
  .mainwrapper .container .nescafe-container-3 .question-container .answers {
    margin-left: 35px;
    margin-top: 151px;
  }
  .mainwrapper .container .nescafe-container-3 .question-container .answers .answer {
    line-height: 20px;
    font-size: 15px;
    width: 300px;
    height: 45px;
  }
  .mainwrapper .container .nescafe-container-4 {
    background: url(/img/soru-1-responsive-3.png);
    background: url(/img/soru-1-responsive-2.png);
    background-color: #b2ddf5;
    position: -webkit-sticky;
    position: sticky;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 375px;
    height: 100%;
  }
  .mainwrapper .container .nescafe-container-4 .question-container .question {
    display: none;
  }
  .mainwrapper .container .nescafe-container-4 .question-container .answers {
    margin-left: 35px;
    margin-top: 151px;
  }
  .mainwrapper .container .nescafe-container-4 .question-container .answers .answer {
    line-height: 20px;
    font-size: 15px;
    width: 300px;
    height: 45px;
  }
  .mainwrapper .container .nescafe-container-5 {
    background: #b2ddf5 !important;
    position: -webkit-sticky;
    position: sticky;
  }
  .mainwrapper .container .nescafe-container-5 .name-text {
    width: 100%;
    height: 120px;
    margin-left: 0;
    line-height: 40px;
    font-weight: bold;
    font-size: 26px;
    background: white;
    text-align: center;
    margin-bottom: 15px;
  }
  .mainwrapper .container .nescafe-container-5 .video {
    position: absolute;
    top: 320px;
    left: 40px;
  }
  .mainwrapper .container .nescafe-container-5 #map {
    width: 258px;
    height: 141px;
    margin-top: 250px;
    margin-left: 30px;
    border: 4px solid #fff;
    border-radius: 18px;
  }
  .mainwrapper .container .nescafe-container-5 .rota-text #text-4 {
    font-family: "PT Sans", sans-serif;
    text-align: center;
    width: 265px;
    color: #315b81;
    font-weight: bold;
    font-size: 14px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .mainwrapper .container .nescafe-container-5 .rota-text #text-5 {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 13.5px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #315b81;
    margin-top: auto;
    margin-left: 0;
    text-align: center;
  }
  .mainwrapper .container .nescafe-container-5 #rota {
    bottom: 390px;
    right: 130px;
  }
}
/*# sourceMappingURL=final-css.css.map */