<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/final-css.css" />
    <script
      src="https://kit.fontawesome.com/ec8283b947.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
  </head>
  <body>
    <nav>
      <div class="logo"><img src="/img/onedio-new2x-new.png" alt="" /></div>
      <ul class="vitrin">
        <li><a href="">VİTRİN</a></li>
        <li><a href="">VİTRİN</a></li>
        <li><a href="">VİTRİN</a></li>
        <li><a href="">VİTRİN</a></li>
        <li><a href="">VİTRİN</a></li>
        <li><a href="">VİTRİN</a></li>
        <li><a href="">VİTRİN</a></li>
      </ul>
      <ul>
        <li>
          <a href=""><img src="/img/r1.png" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/img/r2.png" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/img/r3.png" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/img/r4.png" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/img/r5.png" alt="" /></a>
        </li>
      </ul>

      <ul class="search-box">
        <li>
          <a href=""><i class="fas fa-search"></i></a>
        </li>
        <li>
          <a href=""><i class="fas fa-user"></i></a>
        </li>
      </ul>
      <box-icon onclick="myFunction()" size="md" name="menu"></box-icon>
    </nav>
    <div class="mainwrapper">
      <div class="container">
        <div id="container-1" class="nescafe-container">
          <div class="selection">
            <div class="isim">
              İsmini buraya yaz <img src="/img/down-button.png" alt="" /><br />
              <input
                type="text"
                id="name-input"
                placeholder="isminizi giriniz"
              />
            </div>
            <div class="sehir">
              Şehrini seç <img src="/img/down-button.png" alt="" /><br />
              <select id="city" name="city">
                <option value="">Şehrinizi seçiniz...</option>
                <option value="Adana">Adana</option>
                <option value="Adıyaman">Adıyaman</option>
                <option value="Afyonkarahisar">Afyonkarahisar</option>
                <option value="Ağrı">Ağrı</option>
                <option value="Amasya">Amasya</option>
                <option value="Ankara">Ankara</option>
                <option value="Antalya">Antalya</option>
                <option value="Artvin">Artvin</option>
                <option value="Aydın">Aydın</option>
                <option value="Balıkesir">Balıkesir</option>
                <option value="Bilecik">Bilecik</option>
                <option value="Bingöl">Bingöl</option>
                <option value="Bitlis">Bitlis</option>
                <option value="Bolu">Bolu</option>
                <option value="Burdur">Burdur</option>
                <option value="Bursa">Bursa</option>
                <option value="Çanakkale">Çanakkale</option>
                <option value="Çankırı">Çankırı</option>
                <option value="Çorum">Çorum</option>
                <option value="Denizli">Denizli</option>
                <option value="Diyarbakır">Diyarbakır</option>
                <option value="Edirne">Edirne</option>
                <option value="Elazığ">Elazığ</option>
                <option value="Erzincan">Erzincan</option>
                <option value="Erzurum">Erzurum</option>
                <option value="Eskişehir">Eskişehir</option>
                <option value="Gaziantep">Gaziantep</option>
                <option value="Giresun">Giresun</option>
                <option value="Gümüşhane">Gümüşhane</option>
                <option value="Hakkâri">Hakkâri</option>
                <option value="Hatay">Hatay</option>
                <option value="Isparta">Isparta</option>
                <option value="Mersin">Mersin</option>
                <option value="İstanbul">İstanbul</option>
                <option value="İzmir">İzmir</option>
                <option value="Kars">Kars</option>
                <option value="Kastamonu">Kastamonu</option>
                <option value="Kayseri">Kayseri</option>
                <option value="Kırklareli">Kırklareli</option>
                <option value="Kırşehir">Kırşehir</option>
                <option value="Kocaeli">Kocaeli</option>
                <option value="Konya">Konya</option>
                <option value="Kütahya">Kütahya</option>
                <option value="Malatya">Malatya</option>
                <option value="Manisa">Manisa</option>
                <option value="Kahramanmaraş">Kahramanmaraş</option>
                <option value="Mardin">Mardin</option>
                <option value="Muğla">Muğla</option>
                <option value="Muş">Muş</option>
                <option value="Nevşehir">Nevşehir</option>
                <option value="Niğde">Niğde</option>
                <option value="Ordu">Ordu</option>
                <option value="Rize">Rize</option>
                <option value="Sakarya">Sakarya</option>
                <option value="Samsun">Samsun</option>
                <option value="Siirt">Siirt</option>
                <option value="Sinop">Sinop</option>
                <option value="Sivas">Sivas</option>
                <option value="Tekirdağ">Tekirdağ</option>
                <option value="Tokat">Tokat</option>
                <option value="Trabzon">Trabzon</option>
                <option value="Tunceli">Tunceli</option>
                <option value="Şanlıurfa">Şanlıurfa</option>
                <option value="Uşak">Uşak</option>
                <option value="Van">Van</option>
                <option value="Yozgat">Yozgat</option>
                <option value="Zonguldak">Zonguldak</option>
                <option value="Aksaray">Aksaray</option>
                <option value="Bayburt">Bayburt</option>
                <option value="Karaman">Karaman</option>
                <option value="Kırıkkale">Kırıkkale</option>
                <option value="Batman">Batman</option>
                <option value="Şırnak">Şırnak</option>
                <option value="Bartın">Bartın</option>
                <option value="Ardahan">Ardahan</option>
                <option value="Iğdır">Iğdır</option>
                <option value="Yalova">Yalova</option>
                <option value="Karabük">Karabük</option>
                <option value="Kilis">Kilis</option>
                <option value="Osmaniye">Osmaniye</option>
                <option value="Düzce">Düzce</option>
              </select>
            </div>

            <div class="ilerle-btn">
              <img id="ilerle" src="/img/red-btn-2.png" alt="" />
            </div>
          </div>
        </div>
        <div id="container-2" class="nescafe-container-2">
          <div class="question-container">
            <div class="question"><img src="/img/soru-1.png" alt="" /></div>
            <div class="answers">
              <div class="answer" id="next-1">
                Doğayla iç içe bir kafa dinlemece
              </div>
              <div class="answer" id="next-2">Biraz dalgalarla boğuşmaca</div>
              <div class="answer" id="next-3">
                Macera,hareket,aksiyon zamanı!
              </div>
              <div class="answer" id="next-4">
                Arkadaşlarla gömlekleri çekip sahilde sabahlamaca!
              </div>
            </div>
          </div>
        </div>
        <div id="container-3" class="nescafe-container-3">
          <div class="question-container">
            <div class="question"><img src="/img/soru-1.png" alt="" /></div>
            <div class="answers">
              <div class="answer" id="next-5">Kafamı dinlemeye, çok net!</div>
              <div class="answer" id="next-6">
                Yeterince yattım, biraz eğlenmeye
              </div>
              <div class="answer" id="next-7">
                Anın tadını gönlümce çıkarmaya!
              </div>
              <div class="answer" id="next-8">
                Kendimi keşfetmeye, derinlere dalmaya
              </div>
            </div>
          </div>
        </div>
        <div id="container-4" class="nescafe-container-4">
          <div class="question-container">
            <div class="question"><img src="/img/soru-3.png" alt="" /></div>
            <div class="answers">
              <div id="next-9" class="answer">
                Tabii ki şekersiz sade kahve!
              </div>

              <div id="next-10" class="answer">
                Değişiklik severim, farklı aromalar olsun!
              </div>

              <div id="next-11" class="answer">
                Latteciyim ama şekersiz içerim!
              </div>

              <div id="next-12" class="answer">
                Fazla düşünmeyiz, orijinalciyiz!
              </div>
            </div>
          </div>
        </div>
        <div id="container-5" class="nescafe-container-5">
          <div class="name-text">
            <div id="text-1"></div>
            <div id="text-2"></div>
            <div id="text-3">HADİ KİM TUTAR SENİ!</div>
          </div>
          <div class="rota-text">
            <div id="text-4"></div>
            <div id="text-5"></div>
          </div>
          <div id="map"></div>
          <div class="video">
            <video autoplay="autoplay" width="252" height="141" controls>
              <source
                src="/video/Nescafe_xpress_15sn_dijital_10mb+.mp4"
                type="video/mp4"
              />
              <source
                src="/video/Nescafe_xpress_15sn_dijital_10mb+.mp4"
                type="video/ogg"
              />
            </video>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/main.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMhLG30n4yAxcaLkulzZzWboAawf51vvw&callback=initMap&libraries=&v=weekly"
      async
    ></script>

  </body>
</html>
