<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/final-css.css" />
    <script
      src="https://kit.fontawesome.com/ec8283b947.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
  </head>
  <body>
    <nav>
      <div class="logo"><img src="/img/onedio-new2x-new.png" alt="" /></div>
      <ul class="vitrin">
        <li><a href="">VİTRİN</a></li>
        <li><a href="">VİTRİN</a></li>
        <li><a href="">VİTRİN</a></li>
        <li><a href="">VİTRİN</a></li>
        <li><a href="">VİTRİN</a></li>
        <li><a href="">VİTRİN</a></li>
        <li><a href="">VİTRİN</a></li>
      </ul>
      <ul>
        <li>
          <a href=""><img src="/img/r1.png" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/img/r2.png" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/img/r3.png" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/img/r4.png" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/img/r5.png" alt="" /></a>
        </li>
      </ul>

      <ul class="search-box">
        <li>
          <a href=""><i class="fas fa-search"></i></a>
        </li>
        <li>
          <a href=""><i class="fas fa-user"></i></a>
        </li>
      </ul>
      <box-icon onclick="myFunction()" size="md" name="menu"></box-icon>
    </nav>
    <div class="mainwrapper">
      <div class="container">
        <div id="container-1" class="nescafe-container">
          <div class="selection">
            <div class="isim">
              İsmini buraya yaz <img src="/img/down-button.png" alt="" /><br />
              <input
                type="text"
                id="name-input"
                placeholder="isminizi giriniz"
              />
            </div>
            <div class="sehir">
              Şehrini seç <img src="/img/down-button.png" alt="" /><br />
              <select id="city" name="city">
                <option value="">Şehrinizi seçiniz...</option>
                <option value="0" data="lat:39.78430200, lng:30.51922000">
                  Adana
                </option>
                <option value="1">Adıyaman</option>
                <option value="2">Afyonkarahisar</option>
                <option value="3">Ağrı</option>
                <option value="4">Amasya</option>
                <option value="5">Ankara</option>
                <option value="6">Antalya</option>
                <option value="7">Artvin</option>
                <option value="8">Aydın</option>
                <option value="9">Balıkesir</option>
                <option value="10">Bilecik</option>
                <option value="11">Bingöl</option>
                <option value="12">Bitlis</option>
                <option value="13">Bolu</option>
                <option value="14">Burdur</option>
                <option value="15">Bursa</option>
                <option value="16">Çanakkale</option>
                <option value="17">Çankırı</option>
                <option value="18">Çorum</option>
                <option value="19">Denizli</option>
                <option value="20">Diyarbakır</option>
                <option value="21">Edirne</option>
                <option value="22">Elazığ</option>
                <option value="23">Erzincan</option>
                <option value="24">Erzurum</option>
                <option value="25">Eskişehir</option>
                <option value="26">Gaziantep</option>
                <option value="27">Giresun</option>
                <option value="28">Gümüşhane</option>
                <option value="29">Hakkâri</option>
                <option value="30">Hatay</option>
                <option value="31">Isparta</option>
                <option value="32">Mersin</option>
                <option value="33">İstanbul</option>
                <option value="34">İzmir</option>
                <option value="35">Kars</option>
                <option value="36">Kastamonu</option>
                <option value="37">Kayseri</option>
                <option value="38">Kırklareli</option>
                <option value="39">Kırşehir</option>
                <option value="40">Kocaeli</option>
                <option value="41">Konya</option>
                <option value="42">Kütahya</option>
                <option value="43">Malatya</option>
                <option value="44">Manisa</option>
                <option value="45">Kahramanmaraş</option>
                <option value="46">Mardin</option>
                <option value="47">Muğla</option>
                <option value="48">Muş</option>
                <option value="49">Nevşehir</option>
                <option value="50">Niğde</option>
                <option value="51">Ordu</option>
                <option value="52">Rize</option>
                <option value="53">Sakarya</option>
                <option value="54">Samsun</option>
                <option value="55">Siirt</option>
                <option value="56">Sinop</option>
                <option value="57">Sivas</option>
                <option value="58">Tekirdağ</option>
                <option value="59">Tokat</option>
                <option value="60">Trabzon</option>
                <option value="61">Tunceli</option>
                <option value="62">Şanlıurfa</option>
                <option value="63">Uşak</option>
                <option value="64">Van</option>
                <option value="65">Yozgat</option>
                <option value="66">Zonguldak</option>
                <option value="67">Aksaray</option>
                <option value="68">Bayburt</option>
                <option value="69">Karaman</option>
                <option value="70">Kırıkkale</option>
                <option value="71">Batman</option>
                <option value="72">Şırnak</option>
                <option value="73">Bartın</option>
                <option value="74">Ardahan</option>
                <option value="75">Iğdır</option>
                <option value="76">Yalova</option>
                <option value="77">Karabük</option>
                <option value="78">Kilis</option>
                <option value="79">Osmaniye</option>
                <option value="80">Düzce</option>
              </select>
            </div>

            <div class="ilerle-btn">
              <img id="ilerle" src="/img/red-btn-2.png" alt="" />
            </div>
          </div>
        </div>
        <div id="container-2" class="nescafe-container-2">
          <div class="question-container">
            <div class="question"><img src="/img/soru-1.png" alt="" /></div>
            <div class="answers">
              <div class="answer" id="next-1">
                Doğayla iç içe bir kafa dinlemece
              </div>
              <div class="answer" id="next-2">Biraz dalgalarla boğuşmaca</div>
              <div class="answer" id="next-3">
                Macera,hareket,aksiyon zamanı!
              </div>
              <div class="answer" id="next-4">
                Arkadaşlarla gömlekleri çekip sahilde sabahlamaca!
              </div>
            </div>
          </div>
        </div>
        <div id="container-3" class="nescafe-container-3">
          <div class="question-container">
            <div class="question"><img src="/img/soru-1.png" alt="" /></div>
            <div class="answers">
              <div class="answer" id="next-5">Kafamı dinlemeye, çok net!</div>
              <div class="answer" id="next-6">
                Yeterince yattım, biraz eğlenmeye
              </div>
              <div class="answer" id="next-7">
                Anın tadını gönlümce çıkarmaya!
              </div>
              <div class="answer" id="next-8">
                Kendimi keşfetmeye, derinlere dalmaya
              </div>
            </div>
          </div>
        </div>
        <div id="container-4" class="nescafe-container-4">
          <div class="question-container">
            <div class="question"><img src="/img/soru-3.png" alt="" /></div>
            <div class="answers">
              <div id="next-9" class="answer">
                Tabii ki şekersiz sade kahve!
              </div>

              <div id="next-10" class="answer">
                Değişiklik severim, farklı aromalar olsun!
              </div>

              <div id="next-11" class="answer">
                Latteciyim ama şekersiz içerim!
              </div>

              <div id="next-12" class="answer">
                Fazla düşünmeyiz, orijinalciyiz!
              </div>
            </div>
          </div>
        </div>
        <div id="container-5" class="nescafe-container-5">
          <div class="name-text">
            <div id="text-1"></div>
            <div id="text-2"></div>
            <div id="text-3">HADİ KİM TUTAR SENİ!</div>
          </div>
          <div class="rota-text">
            <div id="text-4"></div>
            <div id="text-5"></div>
          </div>
          <div id="map"></div>
          <div id="rota"><img src="/img/rotanı-incele.png" alt="" /></div>
          <div class="video">
            <video autoplay="autoplay" width="252" height="141" controls>
              <source
                src="/video/Nescafe_xpress_15sn_dijital_10mb+.mp4"
                type="video/mp4"
              />
              <source
                src="/video/Nescafe_xpress_15sn_dijital_10mb+.mp4"
                type="video/ogg"
              />
            </video>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/data.js"></script>
    <script src="/js/main.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMhLG30n4yAxcaLkulzZzWboAawf51vvw&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>
